body {
  font-family: 'Open Sans';
  font-size: 100%;
  text-align: center;
}

header h1 {
  color: #FFF;
  font-size: 300%;
  font-weight: bolder;
  margin-bottom: 45px;
}
header img {
  height: 17%;
  width: 17%;
}

.left-side, .right-side {
  position: absolute;
  display: inline-block;
  width: 50%;
}

.left-side {
  left: 0;
  background: #455A64;
  height: 100%;
  position: fixed;
}

.left-side-container {
  margin: 110px auto 30px;
  width: 400px;
}

.website-title, .website-url {
  display: block;
  margin: 40px auto;
  width: 350px;
  height: 30px;
  font-size: 125%;
  font-weight: lighter;
  border: none;
  padding: 5px 0 5px 8px;
}

.website-title:focus, .website-url:focus {
  outline: 4px solid gray;
}


.enter-button {
  background: #FFC107;
  color: #FFF;
  width: 356px;
  height: 35px;
  border: none;
  font-size: 100%;
}

.enter-button:hover {
  background-color: #FFD773;
}

.enter-button:active {
  background-color: ##ffac07;
}

.enter-button:focus {
  outline: 4px solid gray;
}

.enter-button:disabled,
.enter-button[disabled]:active,
.enter-button[disabled]:hover {
  background: #FFD773;
}

.link-counter {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 350px;
  margin: 5px auto;
  color: white;
}

.total-links {
    font-weight: bolder;
}

.link-counter h2 {
  text-decoration: underline;
  font-size: medium;
  font-weight: bolder;
}

.link-counter h3 {
  text-decoration: underline;
  font-size: medium;
  font-weight: normal;;
}

.link-counter h2, .link-counter h3 {
  margin-bottom: 10px;
}

.right-side {
  right: 0;
  background: #CFD8DC;
  min-height: 100%;
}

.link-info-container {
  border: 2px solid #607D8B;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  background: white;
}

.link-info {
  padding: 15px;
  text-align: left;
  padding-bottom: 0;
  min-width: 300px;
}

.link-title {
  color: #455A64;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

.link-url:link {
  color: #607D8D;
  margin-bottom: 15px;
  text-decoration: none;
  border-bottom: 1px solid #F2F4F4;
}

.link-url:hover {
  font-weight: bolder;
  color: #455A64;
  border-bottom-color: #FFC107;
}

.hr1 {
  background: #CFD8DC;
  border: 0;
  height: 1px;
  margin: 10px 0 15px;
}

.hr2 {
  background: #CFD8DC;
  border: 0;
  height: 1px;
  margin: 15px 0 5px;
}

.link-read, .link-delete {
  border: 0;
  padding: 0 0 1px;
  background: none;
  color: #455A64;
  margin-bottom: 5px;
  font-size: 90%;
  text-decoration: none;
  border-bottom: 1px solid #F2F4F4;
}

.link-read {
  margin-right: 68%;
}

.link-read:hover, .link-delete:hover {
  font-weight: bolder;
  color: #455A64;
  border-bottom: 1px solid #FFC107;
}

.link-read.true {
  font-weight: bolder;
  color: #F05A28;
  border: none;
}

.link-read.true:hover {
  border-bottom: 1px solid #FFC107;
}

a:active button:active {
  outline: 0;
}

@media screen and (max-width: 800px) {

  .left-side, .right-side {
    margin: 0 auto;
  }

  .left-side {
    position: static;
    display: block;
    width: 100%;
    height: 40%;
  }

  header {
    width: 320px;
    margin: auto;
  }

  header h1 {
    color: #FFF;
    font-size: 260%;
    font-weight: bolder;
    padding: 20px 0 5px;
    margin: 0;
  }
  header img {
    height: 18%;
    width: 18%;
  }

  .left-side-container {
    margin: 0 auto;
    min-width: 100%;
  }

  .website-title, .website-url {
      margin: 20px auto;
  }

  .enter-button {
    height: 35px;
    margin-bottom: 15px;
  }

  .right-side {
    display: block;
    width: 100%;
    min-height: 60%;
    right: none;
  }

  .link-info-container {
    border: 2px solid #607D8B;
    width: 355px;
    text-align: center;
    margin: 10px auto;
    background: white;
  }

  .link-info {
    padding: 15px;
    text-align: left;
    padding-bottom: 0;
    width: 90%;
  }

  .link-title {
    color: #455A64;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .link-counter {
    margin-bottom: 15px;

}

@media screen and (max-width: 399px) {

  .left-side, .right-side {
    margin: 0 auto;
  }

  .left-side {
    position: static;
    display: block;
    width: 100%;
    height: 50%;
  }

  header h1 {
    color: #FFF;
    font-size: 175%;
    font-weight: bolder;
    padding: 20px 0 10px;
    margin: 0;
  }
  header img {
    height: 10%;
    width: 10%;
  }

  .left-side-container {
    margin: 0 auto;
    width: 100%;
  }

  .website-title, .website-url {
    display: block;
    margin: 15px auto;
    width: 85%;
    height: 25px;
    font-size: 100%;
    font-weight: lighter;
    padding: 3px 0 3px 5px;
  }

  .enter-button {
    background: #FFC107;
    color: #FFF;
    width: 87%;
    height: 30px;
    border: none;
    font-size: 100%;
    margin-bottom: 15px;
  }

  .right-side {
    display: block;
    width: 100%;
    min-height: 60%;
    right: none;
  }

  .link-info-container {
    border: 2px solid #607D8B;
    width: 80%;
    text-align: center;
    margin: 5px auto;
    background: white;
  }

  .link-info {
    padding: 15px;
    text-align: left;
    padding-bottom: 0;
    width: 90%;
  }

  .link-title {
    color: #455A64;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .link-counter {
    margin-bottom: 15px;
    width: 80%;

}
