body {
  font-family: 'Open Sans';
  font-size: 100%;
  text-align: center;
}

header h1 {
  color: #FFF;
  font-size: 300%;
  font-weight: bolder;
  margin-bottom: 45px;
}
header img {
  height: 17%;
  width: 17%;
}

.left-side, .right-side {
  position: absolute;
  display: inline-block;
  width: 50%;
}

.left-side {
  left: 0;
  background: #455A64;
  height: 100%;
  position: fixed;
}

.left-side-container {
  margin: 35% auto;
  width: 400px;
}

#website-title, #website-url {
  display: block;
  margin: 40px auto;
  width: 350px;
  height: 30px;
  font-size: 125%;
  font-weight: lighter;
  border: none;
  padding: 5px 0 5px 8px;
}

.enter-button {
  background: #FFC107;
  color: #FFF;
  width: 355px;
  height: 35px;
  border: none;
  font-size: 100%;
}

.enter-button:hover {
  background-color: #FFD773;
}

.enter-button:active {
  background-color: ##ffac07;
}

.enter-button:disabled,
.enter-button[disabled]:active,
.enter-button[disabled]:hover {
  background: #FFD773;
}

.right-side {
  right: 0;
  background: #CFD8DC;
  min-height: 100%;
}

.link-info-container {
  border: 2px solid #607D8B;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  background: white;
}

.link-info {
  padding: 15px;
  text-align: left;
  padding-bottom: 0;
  min-width: 300px;
}

.link-title {
  color: #455A64;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

.link-url:link {
  color: #607D8D;
  margin-bottom: 15px;
  text-decoration: underline;
  border-bottom-color: #F2F4F4;
}

.link-url:hover {
  font-weight: bolder;
  color: #455A64;
  border-bottom-color: #FFC107;
}

.hr1 {
  background: #CFD8DC;
  border: 0;
  height: 1px;
  margin: 10px 0 15px;
}

.hr2 {
  background: #CFD8DC;
  border: 0;
  height: 1px;
  margin: 10px 0 5px;
  }

}

.link-info-buttons {
  width: 80%;
}

.link-read, .link-delete {
  border: 0;
  padding:none;
  background: none;
  color: #455A64;
  margin-bottom: 5px;
  font-size: 90%;
}

.link-read {
  margin-right: 62%;
}

.link-read:hover, .link-delete:hover {
  font-weight: bolder;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color #FFC107;
}

@media screen and (max-width: 400px) {

  .left-side, .right-side {
    margin: 0 auto;
  }

  .left-side {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }

  header h1 {
    color: #FFF;
    font-size: 175%;
    font-weight: bolder;
    padding-top: 25px;
  }
  header img {
    height: 10%;
    width: 10%;
  }

  .left-side-container {
    margin: 0 auto;
    width: 100%;
  }

  #website-title, #website-url {
    display: block;
    margin: 25x auto;
    width: 90%;
    height: 30px;
    font-size: 100%;
    font-weight: lighter;
    padding: 3px;
  }

  .enter-button {
    background: #FFC107;
    color: #FFF;
    width: 90%;
    height: 30px;
    border: none;
    font-size: 100%;
    margin-bottom: 20px;
  }

  .right-side {
    display: block;
    width: 100%;
    min-height: 200px;
    right: none;
  }

  .link-info-container {
    border: 2px solid #607D8B;
    width: 90%;
    text-align: center;
    margin: 10px auto;
    background: white;
  }

  .link-info {
    padding: 15px;
    text-align: left;
    padding-bottom: 0;
    width: 90%;
  }

  .link-title {
    color: #455A64;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
  }

}
